.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.metadata
.packages
build/
coverage/
*.iml
*.log
android/.gradle/
android/local.properties
ios/Flutter/ephemeral/
flutter_windows_3.47.2-stable.zip
*.jks
*.keystore
key.properties
android/keystore.properties
android/app/upload-keystore.jks
.env
.env.*
!.env.example
